{% extends 'base.html.twig' %}

{% block importmap %}{{ importmap(['app', 'admin']) }}{% endblock %}

{% block content %}
    <div>
        <h1>Izveidotie testi</h1>
        <div>
            <a href="{{ path('manage_tests_new') }}">Izveidot jaunu</a>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nosaukums</th>
                <th>Acu sekošanas tests</th>
                <th>Kopīgots</th>
                <th>Atbilžu skaits</th>
                <th>Saite uz testu</th>
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr>
                    <td><a href="{{ path('manage_tests_show', {id: test.id}) }}">{{ test.id }}</a></td>
                    <td>{{ test.title }}</td>
                    <td>{{ test.eyeTracking ? 'Jā' : 'Nē' }}</td>
                    <td>{{ test.shared ? 'Jā' : 'Nē' }}</td>
                    <td>{{ test.answers.count }}</td>
                    <td><a href="{{ path('home', {id: test.id}) }}">Saite uz test</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
