{% extends 'base.html.twig' %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap(['app', 'bio_motion']) }}
    {% endblock %}
    <script>
        const emotion = {{ emotion.value|json_encode|raw }};
        const isEyeTracking = {{ is_eye_tracking|json_encode|raw }};
    </script>
{% endblock %}

{% block content %}
    <div id="canvas-container"></div>
    {{ form_start(form, { 'attr' : { 'class': 'buttons' }} ) }}
        {{ form_row(form.threshold) }}
        {{ form_row(form.guessedEmotion) }}

        {{ form_widget(form.bedigs) }}
        {{ form_widget(form.priecigs) }}
    {{ form_end(form) }}
    <div id="overlay">
        <div class="overlay-container">
            <p>
                Tests sāksies pēc tam, kad nospiedīsiet pogu "Sākt".
            </p>
            {% if is_eye_tracking %}
                <p>
                    No sākuma uz melnā laukuma būs redzams krusts skatities uz to, pēc tam parādīsies figūra.
                </p>
            {% endif %}
            <p>
                Tad figūra melnajā laukumā uzsāks kustību. Sākotnēji kustība būs neitrāla, bet pēc pāris sekundēm tā
                mainīsies.
            </p>
            <p>
                Jūsu uzdevums ir izvēlēties, kādai emocijai šīs figūras kustība atbilst visvairāk un nospiest attiecīgo
                pogu!
                Ja emocija, Jūsuprāt, ir neskaidra, tad izvēlieties to, kura vairāk atbilst.
            </p>
            <button class="button button-primary-inverted" id="start-motion">Sākt</button>
        </div>
    </div>
    {% if app.debug %}
        <p id="debug-time"></p>
    {% endif %}
{% endblock %}

