<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maģistra darbs</title>
    <meta name="description" content="Bioloģiskās kustības emociju atpazīšanas sliekšņa noteikšanas tests">
    <meta name="author" content="Lauris Štekels">
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% if is_granted('ROLE_MANAGER') %}
        <div class="">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('manage_tests_index') }}">Testi</a>
            {% endif %}
            <a href="{{ path('manage_answers_index') }}">Atbildes</a>
            <a href="{{ path('app_logout') }}">Izrakstīties</a>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
